@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

:root {
--colornode7: #fff;
--amazonBackground: #232F3E;
--amazonCartNav: #f08804;
--amazonSearchIconNav: #febd69;
}

a{
text-decoration: none;}

body {
background-color: var(--colornode7);
}

.container {
margin: -1px auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#arrowIcon {
color: var(--amazonBackground);
font-size: 1.5rem;
font-weight: 900;
}

#arrowIcon:hover {
color: var(--amazonCartNav);
font-size: 1.5rem;
}
.arrow {
margin-top: 10px;
margin-left: 20px;
}

.title h1 {
display: flex;
font-size: 3.3rem;
font-weight: 600;
color: var(--amazonCartNav);
}

.content p {
font-size: 1.5rem;
text-align: center;
}

.container img {
margin: 30px auto;
width: 55%;
border-radius: 7px;
}
.content {
margin: -428px;
display: flex;
align-items: center;
justify-content:start;
height: 380px;
width: 52%;
color: var(--colornode7);
background: rgba(252, 248, 248, 0.918);
background: rgba(66, 66, 66, 0.397);
border-radius: 7px;
}

@media (max-width: 1100px) {

.container {
width: 100%;
margin: 40px auto;
}

.container img {
width: 92%;
margin: 40px auto;
}

.content {
height: 242px;
margin: -290px auto;
padding: 0;
padding-bottom: 2px;
padding-left: -4px;
padding-right: -4px;
border-radius: 7px;
width: 90%;

}
.content p {
margin-top: 10px;
font-size: 1rem;
}

}