body {
  background-color: #eee;
}

button {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1.8rem;
  border: 2px solid #000000d2;
  background-color: transparent;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500px;
  cursor: pointer;
  display: flex;
  transition: color 0.3s;
}

button::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000000d2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

button:hover::before {
  transform: scaleX(1);
}

button:hover {
  color: #fff !important;
}

section {
  display: flex;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 0 30px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
  transition: all 0.3s;
}

.card.active {
  background-color: #fff;
  box-shadow: 0 7px 15px 5px #00000033;
  transform: translateY(50px);
  color: #0dd4c0;
}

.card.active .card-image::before,
.card.active .card-image::after {
  display: none;
}

.card.active button {
  color: #0dd4c0;
  border-color: #0dd4c0;
}

.card.active button::before {
  background-color: #0dd4c0;
}

.card-image {
  position: relative;
  height: 400px;
  width: 100%;

}

.card-image::before,
.card-image::after {
  content: "";
  background-image: linear-gradient(to bottom,
      rgba(239, 239, 239, 255),
      rgba(239, 239, 239, 0));
  position: absolute;
  height: 200px;
  right: 0;
  top: 0;
  left: 0;
}

.card-image::after {
  background-image: linear-gradient(to top,
      rgba(239, 239, 239, 255),
      rgba(239, 239, 239, 0));
  bottom: 0;
  top: inherit;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  color: #000000d2;
  font-size: 2rem;
  margin: 20px 0;
}

.card button {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: -10px;
  gap: 5px;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }

  .card {
    width: 300px;
    margin-bottom: 60px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 15px;
    transition: all 0.3s;
  }

  .card-image {
    margin-bottom: 15px;
    height: 400px;
    width: 100%;
  }

}

